@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #FFFFFF;
    --color-primary-dark: #1c1c1c;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}